<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "proadventure.abhik.edu.mit.scratch"
        versionCode = "10" 
        version     = "2.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>ProAdventure</name>

    <description>
        A Platformer
    </description>

    <author href="https://scratch.mit.edu/users/Abhi_Kapalavai" email="abhinavkapalavai6@gmail.com">
      Abhinav Kapalavai
  </author>

</widget>
